$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-dark-grey: #2B292D;
$text-color-black: #000;
$text-color-white: #fff;


$background-color-audience: rgba(0,161,198,0.07);
$background-color-white: #fff;
$background-color-hover: #3141C5;