html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.main {
  margin: 32px;
}

.title {
  word-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
}

.parag {
  line-height: 28px;
}

.decoration {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.translation {
  background-color: grey;
}
