@import 'breakpoints.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'main.scss';


*{
    box-sizing: border-box;
}

html,
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;

}

.top-section {

    
}