$sm: 600px;
$md: 900px;
$lg: 1200px;

@mixin for_extra_small {
    @media screen and (max-width: $sm - 1) {
        @content;
    }
    
}

@mixin for_medium_up {
    @media screen and (min-width: $sm){
        @content;
    }
}

@mixin for_portrait {
    @media screen and ( orientation: portrait ) {
         @content;
        }
    }

@mixin for_midle {
    @media screen and (min-width: $md) {
        @content;
    }
}


@mixin for_large {
    @media screen and (min-width: $lg){
        @content;
    }
}