@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    // align-items: center;
    // justify-items: center;
    
}


.container {
    margin: auto;
    display: flex;

    @include for_portrait {
        flex-direction: column;
    }
}


.square {
    width: 100px;
    height: 100px;
    margin: 8px;

    @include for_medium_up {
        background-color: #8a2be2;
    }
 
    @include for_extra_small {
        background-color: #ff7f50;
    }
    
    @include for_midle {
        background-color: #a61;
    }

    @include for_large {
        background-color: #c47;
    }


}